@import "../../utils/sass/colors";
@import "../../utils/sass/mixin";


.error {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 85%;
    margin-top: 169px;
    &__img {
        width: 597px;  
    }
    h2 {
        color: $primary-color;
        @include baseTypography;
        font-size: 36px;
        line-height: 51px;
        text-align: center;
        margin: 66px 0 182px 0;
    }
    &__backhome {
        color: $primary-color;
        @include baseTypography;
        font-size: 18px;
        line-height: 26px;
        text-align: center;
        margin-bottom: 129px; // rappel margin top footer = 30px soit : 159 - 30 = 129 px
    }
}

@media screen and (max-width: 767px) {   
    .error {
        width: 90%;
        margin-top: 195px;
        &__img {
            width: 198px;
        }
        h2 {
            font-size: 18px; 
            line-height: 26px;
            margin: 11px 0 133px 0;
        }
        &__backhome {
            text-align: center;
            margin-bottom: 205px; 
        }
    }

}