@import "../../utils/sass/colors";
@import "../../utils/sass/mixin";

// /!\ "dernier élément déclaré pris en compte" 
#banner__home__section, #banner__apropos__section {
    position: relative;
    width: 85%;
    margin-top: 63px;
        h1 { // Atention aux "index". Ordre : backgroung container img (1), img(2), filtre darken img(3) & h1 (4)
            width: 100%;
            margin: 0;
            position: absolute;
            top: 78px;
            display: flex;
            justify-content: center;
            @include baseTypography;
            font-size: 48px;
            line-height: 68px;
            color: $secondary-color;
            z-index: 4;
        }
        .banner__container {
            height: 223px;
            z-index: 0;
            .banner__darken {
                background: #000000;
                opacity: 0.3;
                width: 100%;
                height: 100%;
                position: absolute;
                border-radius: 25px;
                z-index: 3;
            }
            .banner__img__desktop {
                position: absolute;
                height: 100%;
                width: 100%;
                border-radius: 25px;
                z-index: 2;
            }
            .banner__background {
                background: $secondary-color;
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                border-radius: 25px;
                z-index: 1;
            }
            .banner__img__mobile, .inactive {
                display: none;
            }
        }
       
}

#banner__apropos__section { // <-- mise en page pour seconde banner
    margin-top: 44px;
    h1 {
        display: none;
    }
}

@media screen and (max-width: 767px) {   
    #banner__home__section, #banner__apropos__section {
        width: 90%;
        margin-top: 16px;
        h1 { // Atention aux "index". Ordre : backgroung container img (1), img(2), filtre darken img(3) & h1 (4)
            width: 217px;
            top: 31px; //rappel : position absolute
            left: 16px;
            font-size: 24px;
            line-height: 24px;
        }
        .banner__container {
            height: 111px;
            border-radius: 10px;
            .banner__darken, .banner__background, .banner__img__mobile {
                border-radius: 10px;
            }
            .banner__img__desktop {
                display: none;
            }
            .banner__img__mobile {
                display: flex;
                position: absolute;
                height: 100%;
                width: 100%;
                z-index: 2;
            }
        }

    }
    #banner__apropos__section { // <-- mise en page pour seconde banner
        margin-top: 17px;
        h1 {
            display: none;
        }
        .banner__container {
            height: 223px;
        }
    }
}